.md-typeset__table {
    min-width: 100%;
}

/*following is the original settings*/
/*@media only screen and (min-width: 768px)
{
	td:nth-child(1){
		white-space: nowrap;
	}
}*/
/*following settings are added (by Deshitha) to make content width to screen width*/
@media only screen and (min-width: 76.25em) {
	td:nth-child(1){
		white-space: nowrap;
	}
	.md-main__inner {
	max-width: none;
	}
	.md-sidebar--primary {
	left: 20px;
	margin-right: 20px;
	min-width: 250px;
	}
	.md-sidebar--secondary {
	right: 20px;
	margin-left: 0;
	-webkit-transform: none;
	transform: none;   
	}
}
/* increase the overall width of the content area, 
or even make it stretch to the entire available space*/
/*
.md-grid {
  max-width: initial;
}*/
/********************************/
:root {
    /*--md-primary-fg-color: #0a192f; --this is the original color*/
	--md-primary-fg-color: #02214f;
    --md-primary-fg-color--light: #029c8e;
    --md-primary-fg-color--dark:  #05ebeb;
}

:root>* {
    --md-typeset-color:   var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color--light);
}

/*
:root {

    /* Primary color shades /
    --md-primary-fg-color: #861f41;
    --md-primary-fg-color--light: #861f4194;
    --md-primary-fg-color--dark: #ac325a;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: hsla(231, 48%, 48%, 1);

    /* Accent color shades /
    --md-accent-fg-color: rgb(98, 18, 189);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }
  
  :root > * {
  
    /* Code block color shades /
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* Footer /
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  }*/

/*
markdown and image alignment
ALT tag and a CSS selector on the alt tag
*/
img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}

/*
Tables set to 100% width
*/
.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}